.travel-warrant {
  background-color: #f1f1f1;
  font-family: "Calibri";
  font-size: x-small;
  color: #3b3b3b;
}

/*** PRINT STYLE ***/

@media print {
  header {
    display: none;
  }
}

/*** INPUT COMPONENT ***/

.input-component {
  display: flex;
  justify-content: center;
  background-color: #a4c2fa;
}

/*** GRID CONTAINER ***/
.grid-container {
  width: 297mm;
  height: 210mm;

  margin: auto;
  /* border: 1px solid #000; */

  display: flex;
}

.grid-item-container {
  width: 148.5mm;
  height: 210mm;

  /* border: 1px solid #000; */
}
