/*** CSS RESET ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GLOBAL STYLES ***/

body {
  ol {
    padding: 0 0 0 1.5rem;
    box-shadow: 2px 2px 4px 1px;
    background-color: $primary-white;
  }

  article {
    margin: 1rem 0.5rem 0.5rem 0.5rem;

    h4 {
      padding: 0.5rem 0;
      border-bottom: 1px solid $primary-black;
    }
  }

  table {
    width: 100%;
    background-color: $primary-white;
    box-shadow: 2px 2px 4px 1px;
    border-radius: 2px;
  }

  /*** PRINT ***/

  @media print {
    header {
      display: none;
    }
  }

  /*** HEADER ***/

  header {
    width: 100%;
    min-height: 10vh;
    background-color: $dark-black;
    color: $dark-white;

    nav {
      min-height: 10vh;

      .logo-container {
        .logo-img {
          margin: 0 !important;
          padding: 0 !important;
          max-width: 100%;
          max-height: 8vh;
          filter: invert(100%);
        }
      }
    }
  }

  /** ASIDE **/

  .main-nav {
    nav {
      margin: 0;
      overflow-y: auto !important;
      background-color: $light-white !important;

      i {
        margin: 0 1rem 0 0;
      }

      a {
        font-size: 1.1rem !important;
        color: $primary-black !important;

        &:hover {
          background-color: $primary-blue !important;
          color: $primary-white !important;
          /* text-decoration: underline !important;
          text-decoration-color: $primary-blue !important; */
        }
      }
    }
  }

  /*** MAIN ***/

  main {
    width: 100%;
    min-height: 96vh;
    display: flex;
    background-color: $light-white !important;

    /** CONTENT **/

    .content {
      padding: 0 0.5rem;
      margin-left: auto;
      background-color: $primary-white;
      flex-grow: 1;
    }

    /*** SIDE NAVIGATION ***/

    .side-nav {
      background-color: $primary-white !important;

      nav {
        position: fixed;
        top: 6rem;
        bottom: 0;
        z-index: 2;

        a {
          color: $primary-black !important;

          &:hover {
            background-color: $primary-blue !important;
            color: $primary-white !important;
            /* text-decoration: underline !important;
            text-decoration-color: $primary-blue !important; */
          }
        }
      }
    }
  }

  /*** TO THE TOP BUTTON ***/

  .top-btn {
    padding: 0.75rem 1rem;
    position: fixed;
    z-index: 3;
    bottom: 3vh;
    right: 2vw;
    border-radius: 30px;
    border: 2px solid $dark-blue;
    color: $dark-blue;

    &:hover {
      background-color: $primary-blue-transparent;
      border: 2px solid $primary-blue-transparent;
      color: $dark-white !important;
    }

    i {
      font-size: 1rem;
    }
  }

  /*** FOOTER ***/

  footer {
    width: 100%;
    height: auto;
    background-color: $dark-black;
    color: $dark-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/os-sm-kv-dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .footer-container {
      padding: 1rem 0;
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid $dark-grey;

      ul {
        display: grid;
        grid-template-columns: auto auto;
        list-style-type: none;
      }
    }

    p {
      padding: 1rem 0;
      text-align: center;

      i {
        color: $primary-yellow;
      }

      a {
        font-family: $secondary-ff;
        font-weight: 600;
        text-decoration: none;
        color: $dark-white;

        &:hover {
          color: $primary-yellow;
        }
      }
    }
  }
}
