/*** CSS RESET ***/

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/*** GLOBAL STYLES ***/

/* html {
  font-family: $primary-ff;
  font-size: 16px;
  color: $dark-black;

  @media only screen and (max-width: 85.375rem) {
    1366px
    html {
      font-size: 14px;
    }
  }
} */

body {
  /* width: 100%;
  min-height: 100vh;
  background-color: $dark-grey;
  line-height: 1.1;
  overflow-x: hidden; */

  display: grid;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: footer;
  }
}

/* 
img {
  display: block;
}

section,
article {
  padding: 0.5rem 1rem 1.5rem;
}

h1,
h2,
h3 {
  padding: 0.5rem 0 1rem 0;
}

p,
img,
ul,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0.5rem;
}

ol {
  padding: 0 0 0 1.5rem;
  box-shadow: 2px 2px 4px 1px;
  background-color: $primary-white;
}

article {
  border-bottom: 2px solid $light-black;
}

table {
  width: 100%;
  background-color: $primary-white;
  box-shadow: 2px 2px 4px 1px;
  border-radius: 2px;
}

table,
th,
td {
  border-bottom: 1px solid $primary-blue;
  border-collapse: collapse;
}

table th {
  background-color: $primary-teal;
  color: $dark-white;
}

tbody tr:nth-child(even) {
  background-color: $light-white;
}

tbody tr:hover {
  background-color: $primary-blue;
  color: $dark-white;
}

button {
  padding: 1rem;
  background-color: transparent;
  font-size: 1.1rem;
  color: $dark-blue;
  letter-spacing: 1px;
  border: 3px solid $primary-blue;
  border-radius: 5px;
  transition: all ease-in 0.1s;
}

button:hover {
  background-color: $primary-blue;
  color: $dark-white;
  cursor: pointer;
  box-shadow: 3px 3px 3px $primary-black;
}

button:active {
  box-shadow: none;
} */

/*** PRINT ***/

@media print {
  header {
    display: none;
  }
}

/*** HEADER ***/

header {
  width: 100%;
  min-height: 10vh;
  background-color: $dark-black;
  border-bottom: 1px solid $dark-white;
  color: $dark-white;

  /* display: flex; */

  nav {
    min-height: 10vh;
  }
}

/** AISDE **/

aside {
  width: 16vw;
  background-color: $dark-teal !important;
  /* position: fixed; */
  /* mtop: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  argin: 5.55rem 0 0;
  overflow-y: auto !important; */

  nav {
    width: inherit;
    /* padding: 0 0 0 0.5rem; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    overflow-y: auto !important;
    background-color: $dark-teal !important;

    .logo-user {
      margin: 0 !important;
      padding: 0.5em 0 !important;
      min-height: 10vh;

      display: flex;
      align-items: center;

      /* background-color: $dark-transparent-teal !important; */
      border-bottom: 1px solid $dark-white;

      .logo-container {
        .logo-img {
          margin: 0 !important;
          padding: 0 !important;
          max-width: 100%;
          filter: invert(100%);
        }
      }

      .user-info {
        margin: 0 !important;
        /* padding: 0 !important; 
        background-color: $dark-transparent-teal !important;*/
        list-style-type: none;
        border-radius: none !important;

        li {
          font-size: 0.9rem;
          /* background-color: $dark-transparent-teal !important; */
          color: $dark-white;
        }
      }
    }

    .accordion-item {
      border: none !important;
      background-color: $dark-teal !important;
      border-radius: none !important;

      i {
        margin: 0 0.5rem 0 0;
      }

      a {
        font-size: 1.2rem !important;
        color: $dark-white !important;
        /* text-decoration: underline !important; */

        &:hover {
          text-decoration: underline !important;
          text-decoration-color: $dark-white !important;
          /* color: $light-black !important; */
        }
      }

      button {
        margin: 0 0.5rem 0 0;
        padding: 0.5rem !important;
        background-color: $dark-transparent-teal !important;
        box-shadow: none !important;
        border-bottom: 1px solid $dark-white;
        border-radius: 20% !important;

        &:hover {
          background-color: $dark-white !important;
          /* border-left: 1px solid $primary-blue; */
        }
      }

      .accordion-body {
        padding: 0.5rem 1rem;
        /* background-color: $dark-transparent-teal !important; */

        ul {
          padding: 0 !important;
          margin: 0 !important;
          list-style-type: none !important;
        }

        a {
          font-size: 1rem !important;

          /* &:hover {
            text-decoration: underline !important;
            color: $dark-blue !important; 
          }*/
        }
      }
    }
  }
}

/*** MAIN ***/

main {
  width: 100%;
  min-height: 96vh;
  display: flex;

  /** CONTENT **/

  .content {
    /* width: 80vw; */
    padding: 1rem;
    margin-left: auto;
    background-color: $primary-white;
    flex-grow: 1;
  }
}

/*** TO THE TOP BUTTON ***/

.top-btn {
  padding: 0.75rem 1rem;
  position: fixed;
  z-index: 1;
  bottom: 3vh;
  right: 2vw;
  border-radius: 30px;
  border: 2px solid $dark-blue;
  color: $dark-blue;

  &:hover {
    background-color: $primary-blue-transparent;
    border: 2px solid $primary-blue-transparent;
    color: $dark-white !important;
  }

  i {
    font-size: 1rem;
  }
}

/*** FOOTER ***/

footer {
  width: 100%;
  height: auto;
  background-color: $dark-black;
  color: $dark-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/os-sm-kv-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .footer-container {
    width: 85%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid $dark-grey;

    ul {
      display: grid;
      grid-template-columns: auto auto;
      list-style-type: none;
    }
  }

  p {
    padding: 1rem 0;
    text-align: center;

    i {
      color: $primary-yellow;
    }

    a {
      font-family: $secondary-ff;
      font-weight: 600;
      text-decoration: none;
      color: $dark-white;

      &:hover {
        color: $primary-yellow;
      }
    }
  }
}
