/*** VARIABLES ***/

/* colors */
$primary-white: #fff;
$light-white: #f1f1f1;
$dark-white: #ecf0f1;
$primary-grey: #d3d3d3;
$dark-grey: #bdc3c7;
$primary-black: #000;
$light-black: #34495e;
$dark-black: #2c3e50;
$primary-black-transparent: #00000033;
$primary-blue: #3498db;
$dark-blue: #2980b9;
$primary-blue-transparent: #3498dbad;
$primary-green: #2ecc71;
$dark-green: #27ae60;
$primary-green-transparent: #2ecc70ce;
$primary-red: #e74c3c;
$dark-red: #c0392b;
$primary-yellow: #f1c40f;
$dark-yellow: #f39c12;
$primary-teal: #487288;
$dark-transparent-teal: #34495edb;

/* font */
$primary-ff: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$secondary-ff: "Courier New", Courier, monospace;
