/* aside * {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

aside li {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

aside li:hover {
  background-color: var(--black);
}

aside a:hover {
  color: var(--blue);
}

.dropdown-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style-type: none !important;
}

.dropdown-link {
  cursor: pointer;
  list-style-type: none;
}

.dropdown-link a {
  color: var(--white);
}

.dropdown-nav {
  display: none;
  list-style-type: none;
}

.dropdown-nav a {
  color: var(--white);
  list-style-type: none;
}

.active {
  display: block;
} */

/* Fixed sidenav, full height */
.sidenav {
  /* height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background-color: var(--dark-blue);
  font-weight: 600;
  letter-spacing: 1px;
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.sidenav .nav-container {
  padding: 0;
  display: flex;
  border-radius: 0;
  /* border-bottom: 1px solid var(--blue); */
}

/* .dropdown-btn {
  display: flex;
} */

/* Style the sidenav links and the dropdown button */
.sidenav a,
.nav-container {
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  /* font-weight: 600; */
  color: var(--white);
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
/* .sidenav a:hover {
  text-decoration: underline;
  background-color: var(--blue);
} */

.dropdown-container a:hover {
  background-color: var(--blue) !important;
}

.sidenav a:hover,
.nav-container:hover {
  background-color: var(--blue);
  color: var(--white);
}

.sidenav button {
  box-shadow: none;
  padding: 1rem;
  border-radius: 0;
  border: none;
  /* border-left: 1px solid var(--blue); */
  color: var(--dark-white) !important;
}

.sidenav button:hover {
  background-color: var(--green);
  color: var(--white) !important;
}

/* Main content */
/* .main {
  margin-left: 200px; /* Same as the width of the sidenav
  font-size: 20px;Increased text to enable scrolling
  padding: 0px 10px;
} */

/* Add an active class to the active dropdown button */
.active {
  background-color: var(--green);
  color: var(--white) !important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: var(--dark-blue);
}

.dropdown-container a {
  padding: 0.5rem 0 0.5rem 1.5rem;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  /* padding-right: 8px; */
}
