/*** CSS RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GENERAL STYLES ***/
body {
  background-color: var(--dark-white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-black);
  line-height: 1.2;
}

section,
article {
  padding: 0.5rem 1rem;
}

h1,
h2,
h3 {
  padding: 0.5rem 0 1rem 0;
}

p,
img,
ul,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0.5rem;
}

/* ul,
li {
  padding: 0.5rem 1rem;
}*/

article {
  border-bottom: 2px solid var(--black);
}

/* article:nth-child(even) {
  background-color: var(--teal);
  color: var(--white);
} */

/* table {
  width: 60%;
  margin: 1rem 0 1.5rem 0;
}

table tr {
  padding: 0.5rem 1rem;
} */

/* tr:nth-child(even) {
  background-color: var(--teal);
} */

/* tr:hover {
  background-color: var(--gray);
} */

table,
th,
td {
  border-bottom: 1px solid var(--blue);
  border-collapse: collapse;
}

.data-container:hover {
  background-color: var(--teal);
  color: var(--white);
}

.btn {
  background-color: var(--blue);
  color: var(--white);
  /* border: 2px solid var(--black); */
  border: none;
  transition: all ease-in 0.3s;
}

.btn:hover {
  background-color: var(--green);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* box-shadow: 0 4px 8px 0 var(--black), 0 6px 20px 0 var(); */
}
/** GRID LAYOUT **/
/* .grid-container {
  display: grid;
  grid-template-areas:
    "logo header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
  gap: 0.5px;
}

.logo {
  grid-area: logo;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
} */
