/*** CSS RESET ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GENERAL STYLES ***/

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--dark-black);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-white);
  line-height: 1.1;
  overflow-x: hidden;
}

img {
  display: block;
}

section,
article {
  padding: 0.5rem 1rem 1.5rem;
}

h1,
h2,
h3 {
  padding: 0.5rem 0 1rem 0;
}

p,
img,
ul,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0.5rem;
}

ol {
  padding: 0 0 0 1.5rem;
  box-shadow: 5px 4px 9px 1px;
  background-color: #fff;
}

article {
  border-bottom: 2px solid var(--black);
}

table {
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 4px 9px 1px;
  border-radius: 2px;
}

table,
th,
td {
  border-bottom: 1px solid var(--blue);
  border-collapse: collapse;
}

table th {
  background-color: var(--teal);
  color: var(--white);
}

tbody tr:hover {
  background-color: var(--blue);
  color: var(--white);
}

button {
  padding: 1rem;
  background-color: transparent;
  font-size: 1.1rem;
  color: var(--dark-blue);
  letter-spacing: 1px;
  border: 3px solid var(--blue);
  border-radius: 10px;
  transition: all ease-in 0.1s;
}

button:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 3px 3px 3px #000;
}

button:active {
  box-shadow: none;
}

/* .btn {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  transition: all ease-in 0.3s;
}

.btn:hover {
  background-color: var(--green);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
} */

/*** HEADER ***/

header {
  width: 100%;
  min-height: 10vh;
  background-color: var(--black);
  color: var(--white);

  display: flex;
}

/*** LOGO SECTION ***/

.logo-container {
  width: 22%;
  margin: auto;
  display: flex;
  padding: 0.25rem 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-container img {
  width: 4.5rem;
  height: auto;
  padding: 0 0.5rem 0 0;
  filter: invert();
}

.logo-container p {
  padding: 0 0 0 0.5rem;
  font-size: 0.98rem;
  text-align: center;
  color: var(--white);
  transition: all ease-in 0.2s;
}

/*** NAVBAR SECTION ***/

.nav-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container ul {
  display: flex;
  list-style-type: none;
}

.nav-container a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
}

.nav-container a:hover {
  color: var(--blue);
}

/*** LINKS SECTION ***/

.links {
  position: relative;
}

.links-container {
  width: max-content;
  padding: 0.5rem 0.25rem;
  position: absolute;
  display: none;
  z-index: 1;
}

.links-container a {
  padding: 0.5rem 0.5rem;
}

.links:hover .links-container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

#sign-out:hover {
  color: var(--yellow);
}

/*** MAIN SECTION ***/

main {
  width: 100%;
  min-height: 90vh;
  display: flex;
}

/*** ASIDE SECTION ***/

aside {
  width: 20%;
  height: auto;
  padding: 0 1rem;
  background-color: var(--blue);
  color: var(--dark-white);
  display: flex;
  justify-content: center;
}

aside nav {
  position: fixed;
  top: 4.5rem;
  left: 0;
}

.aside-container h2 {
  color: var(--white);
  text-align: center;
}

.aside-container ul {
  list-style-type: none;
}

.aside-container a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 600;
}

.aside-container a:hover {
  color: var(--dark-black);
}

/*** FOOTER ***/

footer {
  width: 100%;
  height: auto;
  background-color: var(--dark-black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./../images/os-sm-kv-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  width: 85%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--dark-white);
}

.footer-grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.footer-section ul {
  list-style-type: none;
}

footer p {
  padding: 1rem 0;
  text-align: center;
}

footer i {
  color: var(--yellow);
}

footer a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

footer a:hover {
  color: var(--yellow);
}
