/*** LANDING PAGE ***/

.landing-section {
  height: 100vh;
  background-image: url("./../img/os-sm-kv.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-section img {
  margin: auto;
  padding: 0;
  height: 35vh;
  border-radius: 30%;
  opacity: 0.5;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.landing-section img:hover {
  border-radius: 0%;
  -webkit-box-shadow: 5px 5px 5px 0px var(--primary-black),
    inset 4px 4px 15px 0px var(--primary-black),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px var(--primary-black),
    inset 4px 4px 15px 0px var(--primary-black),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  opacity: 1;
}

/*** LANDING MENU ***/

.landing-menu-container {
  display: none;
  /* max-width: 38vw; */
  width: 44vw;
  justify-content: center;
  max-height: 60vh;
  margin: auto;
  padding: 2rem;
  /* display: flex; 
  justify-content: center; */
  background-color: var(--dark-transparent-teal);
  border-radius: 5px;
}

.landing-menu-container ul {
  width: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  /* justify-content: space-between; */
}

.landing-menu-container li {
  padding: 1rem;
  /* margin: auto; */
  display: flex;
  list-style-type: none;
  /* width: 25%;
  height: 15vh; */
  background-color: var(--primary-blue-transparent);
  border: 1px solid var(--primary-blue);
  border-radius: 5px;
}

.landing-menu-container li:hover {
  background-color: var(--primary-blue);
  border: 1px solid var(--dark-white);
}

.landing-menu-container a {
  margin: auto;
  font-size: 2rem;
  color: var(--dark-white);
  text-decoration: none;
}

.landing-menu-container a:hover {
  color: var(--primary-yellow);
  text-decoration: underline;
}

/*** LOGIN SECTION ***/

.login-container {
  display: none;
  width: 19rem;
  padding: 2.5rem;
  border-radius: 15px;
  background-color: var(--light-black);
  opacity: 0.95;
}

#login-msg {
  display: none;
  background-color: var(--dark-white);
  color: var(--primary-red);
  font-size: 0.8rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#login-form input {
  /* margin: 0.5rem 0; */
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--primary-teal);
  color: var(--dark-white);
  border: none;
  border-radius: 5px;
  outline: none;
}

/* Firefox */
::placeholder {
  color: var(--dark-grey);
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: var(--dark-grey);
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: var(--dark-grey);
}
