@import "variables.css";
@import "general.css";

/*** LANDING PAGE ***/
.landing-page {
  /* The image used */
  background-image: url("./../images/os-sm-kv.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page img {
  margin: auto;
  padding: 0;
  height: 35vh;
  border-radius: 30%;
  opacity: 0.5;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.landing-page img:hover {
  border-radius: 0%;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  opacity: 1;
}

/** LOGIN SECTION **/
.login-container {
  display: none;
  padding: 3.5rem 4rem;
  border-radius: 15px;
  background-color: var(--black);
  opacity: 0.95;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form > * {
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  background-color: var(--teal);
  color: var(--white);
  border: none;
  border-radius: 5px;
  outline: none;
}

/* #login-form input:hover:focus {
  background-color: var(--green);
  border: 1px solid var(--white);
} */

#login-btn {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--black);
  /* border-radius: 5px; */
  transition: all ease-in 0.2s;
}

/* #login-btn i {
  display: none;
} */

#login-btn:hover {
  background-color: var(--green);
  border: 2px solid var(--white);
  /* opacity: 1; */
  cursor: pointer;
}

::placeholder {
  color: var(--dark-white);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey);
}

/*** INFO PAGE ***/

/** HEADER SECTION **/
header {
  width: 100%;
  min-height: 10vh;
  background-color: var(--black);
  /* background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  ); */
  color: var(--white);

  display: flex;
}

/** LOGO SECTION **/
.logo-container {
  width: 20%;
  margin: auto;
  /* background-color: var(--black); */
}

.brand {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1.2rem !important;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.brand p:hover {
  color: var(--blue);
}

.brand img {
  width: 5rem;
  height: auto;
  padding: 0 0.25rem 0 0;
  filter: invert();
}

.brand p {
  padding: 0 0 0 0.25rem;
  text-align: center;
  color: var(--white);
}

/* NAVBAR */
.nav-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .logo img {
  margin: auto 2rem;
  width: 5rem;
  border: 2px solid var(--blue);
  border-radius: 25%;
}

.logo img:hover {
  filter: invert();
  border: 2px solid var(--black);
} */

.nav-container ul {
  display: flex;
  padding: 0 1rem;
  list-style-type: none;
}

.nav-container a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  /* font-weight: 700; */
}

.nav-container a:hover {
  color: var(--green);
}

/** MAIN SECTION **/
main {
  width: 100%;
  min-height: 90vh;
  /* padding: 1rem 1.5rem; */
  display: flex;
}

/* ASIDE SECTION */
aside {
  width: 20%;
  height: auto;
  background-color: var(--blue);
  /* background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  ); */
  color: var(--dark-white);
  display: flex;
  justify-content: center;
}

aside nav {
  margin: auto 0;
  position: fixed;
  top: 7rem;
}

.aside-container h2 {
  color: var(--white);
}

.aside-container ul {
  /* padding: 1rem; */
  list-style-type: none;
}

/* .aside-container li {
  padding: 0.5rem;
} */

.aside-container a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 600;
}

.aside-container a:hover {
  color: var(--black);
}

/* CONTENT SECTION */
.content {
  width: 80%;
  background-color: var(--white);
  flex-grow: 1;
}

.basic-info-table {
  width: 90%;
  /* margin: auto; */
}

/* CALENDAR SECTION */
.work-calendar img {
  /* margin: auto; */
  /*  width: 70%; */
  display: flex;
}

/* CLASS DIVISION */
.class-division-container {
  display: grid;
  grid-template-areas:
    "first-div fifth-div"
    "second-div sixth-div"
    "third-div seventh-div"
    "fourth-div eighth-div";
  gap: 0.5rem;
}

.first-div {
  grid-area: first-div;
}

.second-div {
  grid-area: second-div;
}

.third-div {
  grid-area: third-div;
}

.fourth-div {
  grid-area: fourth-div;
}

.fifth-div {
  grid-area: fifth-div;
}

.sixth-div {
  grid-area: sixth-div;
}

.seventh-div {
  grid-area: seventh-div;
}

.eighth-div {
  grid-area: eighth-div;
}

.class-division {
  width: 70%;
  padding: 0 1rem 0.25rem 1rem;
  /* border-bottom: 1px solid var(--blue); */
}

.class-division h3 {
  padding-left: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
}

.class-division-container ul {
  list-style-type: none;
  padding: 0;
  /* border-bottom: 1px solid var(--blue); */
}

.class-division-container li {
  padding: 0.5rem;
}

.class-division-container li:hover {
  background-color: var(--teal);
  color: var(--white);
}

/* SCHOOL BELL SECTION */
.shift-container {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  text-align: center;
}

.shift {
  width: 40%;
}

.shift thead {
  background-color: var(--blue);
  color: var(--white);
}

.shift tr:hover {
  background-color: var(--teal);
  color: var(--white);
}

/* SUPPLIERS SECTION */
.suppliers-info {
  width: 90%;
  /* margin: auto; */
  /* text-align: center; */
}

.suppliers-info thead {
  background-color: var(--blue);
  color: var(--white);
}

.suppliers-info tr:hover {
  background-color: var(--teal);
  color: var(--white);
}

/* LINKS SECTION */
/* .links-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.links-container li {
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* background-color: var(--dark-board-green);
  border: 1px solid var(--teal);
}

.links-container li:hover {
  background-color: var(--teal);
}

.links-container a {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
} */

.links {
  position: relative;
}

.links-container {
  position: absolute;
  display: none;
  z-index: 1;
}

.links-container a {
  padding: 0 1.25rem 1rem 1.25rem;
}

.links:hover .links-container {
  /* display: block; */
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

/*** CALCULATION PAGE ***/
.calculation-form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  /* margin: auto; */
  font-size: 1.2rem;
  text-align: end;
  gap: 1.2rem;
}

.calculation-form input {
  font-size: 1.4rem;
  text-align: end;
}

/* .calculation-form input:focus {
  border: 1px solid var(--blue);
} */

.calculation-form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 3px;
}

.calculation-form button:hover {
  background-color: var(--dark-board-green);
  cursor: pointer;
}

.calculation-form .clear-btn:hover {
  background-color: var(--dark-red);
}

/*** ADDRESS BOOK PAGE ***/

/* search bar */
.search-bar {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.search-icon {
  width: 3rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 5px;
}

.search-icon i {
  color: var(--white);
}

#search-bar {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid var(--blue);
  transition: all ease-in 0.2s;
}

#search-bar:focus {
  background-color: var(--teal);
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

/* input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
} */

.address-book,
.account-plan {
  margin: auto;
  width: 60%;
}

.aside-address-book {
  background-color: var(--blue);
}

.address-book thead {
  background-color: var(--blue);
  color: var(--white);
}

.address-book th {
  text-align: left;
}

.aside-address-book-alphabet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*** ACCOUNT PLAN PAGE ***/
.aside-account-plan {
  background-color: var(--blue);
}

.account-plan thead {
  background-color: var(--blue);
  color: var(--white);
}

.account-plan th {
  text-align: center;
}

/** FOOTER SECTION **/
footer {
  width: 100%;
  min-height: 5vh;
  padding: 1rem 0;
  background-color: var(--dark-black);
  /* background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  ); */
  color: var(--white);
}

footer p {
  padding: 0;
  text-align: center;
}

footer i {
  color: var(--yellow);
}

footer a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

footer a:hover {
  color: var(--yellow);
}
