@import "variables.css";
@import "general.css";
@import "login.css";

/*** INFO PAGE ***/

/** CONTENT SECTION **/
.content {
  width: 80%;
  background-color: var(--white);
  flex-grow: 1;
}

.basic-info-table {
  width: 90%;
  /* margin: auto; */
}

/** CALENDAR SECTION **/
.work-calendar img {
  /* margin: auto; */
  /*  width: 70%; */
  display: flex;
}

/** CLASS DIVISION **/
.class-division-container {
  display: grid;
  grid-template-areas:
    "first-div fifth-div"
    "second-div sixth-div"
    "third-div seventh-div"
    "fourth-div eighth-div";
  gap: 0.5rem;
}

.first-div {
  grid-area: first-div;
}

.second-div {
  grid-area: second-div;
}

.third-div {
  grid-area: third-div;
}

.fourth-div {
  grid-area: fourth-div;
}

.fifth-div {
  grid-area: fifth-div;
}

.sixth-div {
  grid-area: sixth-div;
}

.seventh-div {
  grid-area: seventh-div;
}

.eighth-div {
  grid-area: eighth-div;
}

.class-division {
  width: 70%;
  padding: 0 1rem 0.25rem 1rem;
  /* border-bottom: 1px solid var(--blue); */
}

.class-division h3 {
  padding-left: 0.5rem;
  background-color: var(--dark-board-green);
  color: var(--white);
}

.class-division-container ul {
  list-style-type: none;
  padding: 0;
  /* border-bottom: 1px solid var(--blue); */
}

.class-division-container li {
  padding: 0.5rem;
}

.class-division-container li:hover {
  background-color: var(--blue);
  color: var(--white);
}

/** SCHOOL BELL SECTION **/
.shift-container {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  text-align: center;
}

.shift {
  width: 40%;
}

.shift thead {
  background-color: var(--dark-board-green);
  color: var(--white);
}

.shift tr:hover {
  background-color: var(--blue);
  color: var(--white);
}

/** SUPPLIERS SECTION **/
.suppliers-info {
  width: 90%;
  /* margin: auto; */
  /* text-align: center; */
}

.suppliers-info thead {
  background-color: var(--dark-board-green);
  color: var(--white);
}

.suppliers-info tr:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* LINKS SECTION */
/* .links-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.links-container li {
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* background-color: var(--dark-board-green);
  border: 1px solid var(--teal);
}

.links-container li:hover {
  background-color: var(--teal);
}

.links-container a {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
} */

.links {
  position: relative;
}

.links-container {
  position: absolute;
  display: none;
  z-index: 1;
}

.links-container a {
  padding: 0 1.25rem 1rem 1.25rem;
}

.links:hover .links-container {
  /* display: block; */
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

/*** REQUISITION PAGE ***/
.requisition-info img {
  width: 100%;
}

/*** CALCULATION PAGE ***/
.calculation-form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  /* margin: auto; */
  font-size: 1.2rem;
  text-align: end;
  gap: 1.2rem;
}

.calculation-form input {
  font-size: 1.4rem;
  text-align: end;
}

/* .calculation-form input:focus {
  border: 1px solid var(--blue);
} */

.calculation-form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--dark-board-green);
  color: var(--white);
  border: none;
  border-radius: 3px;
  transition: all ease-in 0.2s;
}

.calculation-form button:hover {
  background-color: var(--blue);
}
/* .calculation-form button:hover {
  background-color: var(--dark-board-green);
  cursor: pointer;
}

.calculation-form .clear-btn:hover {
  background-color: var(--dark-red);
} */

.calculation-form button:active {
  transform: scale(0.98);
}

/*** ADDRESS BOOK PAGE ***/

/* search bar */
.search-bar {
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.search-icon {
  width: 3rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 5px;
}

.search-icon i {
  color: var(--white);
}

#search-bar {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid var(--blue);
  transition: all ease-in 0.2s;
}

#search-bar:focus {
  background-color: var(--teal);
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

/* input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
} */

.address-book,
.account-plan {
  margin: auto;
  width: 60%;
}

.aside-address-book {
  background-color: var(--blue);
}

.address-book thead {
  background-color: var(--blue);
  color: var(--white);
}

.address-book th {
  text-align: left;
}

.aside-address-book-alphabet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*** ACCOUNT PLAN PAGE ***/
.aside-account-plan {
  background-color: var(--blue);
}

.account-plan thead {
  background-color: var(--blue);
  color: var(--white);
}

.account-plan th {
  text-align: center;
}

/*** EXAMPLES PAGE ***/
.example-container tr {
  padding: 0 0.5rem;
}

.example-container td {
  padding: 0 0.5rem;
  border: 1px solid var(--white);
  text-align: center;
}
