@import "variables.css";
@import "general.css";

/*** LANDING PAGE ***/
.landing-page {
  /* The image used */
  background-image: url("./../images/os-sm-kv.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page img {
  margin: auto;
  height: 50vh;
  border-radius: 30%;
  opacity: 0.7;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.landing-page img:hover {
  border-radius: 0%;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  opacity: 1;
}

/** LOGIN SECTION **/
.login-container {
  display: none;
  padding: 3.5rem 4rem;
  border-radius: 15px;
  background-color: var(--black);
  opacity: 0.95;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form > * {
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  background-color: var(--teal);
  color: var(--white);
  border: none;
  border-radius: 5px;
  outline: none;
}

#login-btn {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--blue);
  /* border-radius: 5px; */
  transition: all ease-in 0.2s;
}

#login-btn:hover {
  background-color: var(--blue);
  /* opacity: 1; */
  cursor: pointer;
}

::placeholder {
  color: var(--gray);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gray);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gray);
}

/*** LOGO SECTION ***/
.logo {
  width: 17rem;
  background-color: var(--black);
}

.brand {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1.2rem !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.brand p:hover {
  color: var(--blue);
}

.brand img {
  width: 30%;
  height: auto;
  padding: 0 0.25rem 0 0;
  filter: invert();
}

.brand p {
  padding: 0 0 0 0.25rem;
  text-align: center;
  color: var(--white);
}

/*** HEADER SECTION ***/
header {
  width: 100%;
  min-height: 10vh;
  background-color: var(--black);
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  color: var(--white);
}

/** NAVBAR **/
.main-nav {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .logo img {
  margin: auto 2rem;
  width: 5rem;
  border: 2px solid var(--blue);
  border-radius: 25%;
}

.logo img:hover {
  filter: invert();
  border: 2px solid var(--black);
} */

.main-nav ul {
  display: flex;
  padding: 0 1rem;
  list-style-type: none;
}

.main-nav a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem 0;
  color: var(--white);
  /* font-weight: 700; */
}

.main-nav a:hover {
  color: var(--blue);
}

#search-bar {
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: var(--white);
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid var(--white);
  transition: all ease-in 0.2s;
}

#search-bar:focus {
  background-color: var(--teal);
  color: var(--white);
  border-bottom: 3px solid var(--blue);
}

/* input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
} */

/** ASIDE SECTION **/
aside {
  width: 17rem;
  background-color: var(--teal);
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  color: var(--white);
  display: flex;
}

aside nav {
  margin: auto 0;
  position: fixed;
  top: 15rem;
}

.aside-nav ul {
  padding: 1rem;
  list-style-type: none;
}

.aside-nav li {
  padding: 0.5rem;
}

.aside-nav a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 700;
}

.aside-nav a:hover {
  color: var(--black);
}

/*** MAIN SECTION ***/
main {
  width: 100%;
  min-height: 90vh;
  padding: 1rem 1.5rem;
  display: flex;
}

/** CONTENT SECTION **/
.content-section {
  background-color: var(--white);
  flex-grow: 1;
}

/** CALENDAR SECTION **/

/*** FOOTER SECTION ***/
footer {
  width: 100%;
  min-height: 5vh;
  padding: 1rem 0;
  background-color: var(--black);
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  color: var(--white);
}

footer p {
  padding: 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

footer a:hover {
  color: var(--blue);
}
