/*** VARIABLES ***/
:root {
  /* basic colors */
  /* --white: #f4f4f5;
  --black: #202639;
  --blue: #2295e4;
  --gray: #93a7c1; */
  --teal: #487288;

  /* flat colors */
  --white: #ecf0f1;
  --dark-white: #bdc3c7;
  --grey: #95a5a6;
  --dark-grey: #7f8c8d;
  --black: #34495e;
  --dark-black: #2c3e50;
  --blue: #3498db;
  --dark-blue: #2980b9;
  --green: #2ecc71;
  --dark-green: #27ae60;
  --violet: #9b59b6;
  --dark-violet: #8e44ad;
  --red: #e74c3c;
  --dark-red: #c0392b;
  --yellow: #f1c40f;
  --dark-yellow: #f39c12;
  --board-green: #1abc9c;
  --dark-board-green: #16a085;
  --orange: #e67e22;
  --dark-orange: #d35400;
}
