/*** VARIABLES ***/
:root {
  /* basic colors */
  --white: #f4f4f5;
  --black: #272a3d;
  --blue: #2295e4;
  --teal: #487288;
  --gray: #93a7c1;
}

/*** CSS RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GENERAL STYLES ***/
body {
  background-color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0.5rem 0;
}

ul,
li {
  padding: 0.5rem 1rem;
}

section,
article {
  padding: 0.5rem;
}

/** GRID LAYOUT **/
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
  /* gap: 1rem; */
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*** LANDING PAGE ***/
.landing-page {
  /* The image used */
  background-image: url("./images/os-sm-kv.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page a {
  margin: auto;
  height: 50vh;
}

.landing-page img {
  border-radius: 40%;
  opacity: 0.7;
}

/*** HEADER SECTION ***/
header {
  width: 100%;
  min-height: 10vh;
  background-color: var(--black);
  color: var(--white);
}

/** NAVBAR **/
.main-nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin: 0.5rem 2rem;
  width: 5rem;
  border-radius: 25%;
  filter: invert(1);
}

.main-nav ul {
  display: flex;
  padding: 0 1rem;
  list-style-type: none;
}

.main-nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--white);
  font-weight: 700;
}

.main-nav a:hover {
  color: var(--blue);
}

#search-bar {
  font-size: 1.4rem;
  padding: 0.2rem;
  border-radius: 7px;
  text-align: center;
}

/** ASIDE SECTION **/
aside {
  width: 20rem;
  background-color: var(--teal);
  color: var(--white);
  display: flex;
}

aside nav {
  margin: auto 0;
  position: fixed;
  top: 15rem;
}

.aside-nav ul {
  padding: 1rem;
  list-style-type: none;
}

.aside-nav li {
  padding: 0.5rem;
}

.aside-nav a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 700;
}

.aside-nav a:hover {
  color: var(--black);
}

/*** MAIN SECTION ***/
main {
  width: 100%;
  min-height: 90vh;
  padding: 1rem 1.5rem;
  display: flex;
}

/** CONTENT SECTION **/
.content-section {
  background-color: var(--white);
  flex-grow: 1;
}

/*** FOOTER SECTION ***/
footer {
  width: 100%;
  min-height: 5vh;
  background-color: var(--black);
  color: var(--gray);
}
